.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Add some margin for better spacing */
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.custom-table th {
    background-color: #ddd; /* Light gray background for headers */
}

.custom-table input {
    width: 100%; /* Make the input fields fill the entire cell */
    box-sizing: border-box; /* Include padding and border in the input's total width */
}

.custom-table thead input {
    font-weight: bold; /* Make the header input bold */
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5; /* Light gray background on hover */
}
.control-wrapper .control-value{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.control-wrapper .control-button{
    padding: 10px 17px 12px 17px;
    border-radius: 50%;
}
.control-wrapper .control-button:active{
    background-color: #ddd;
}

.custom-table td:first-child {
    min-width: 60px;
    text-align: center !important; /* Set your desired minimum width */
}
.custom-table td:nth-child(2){
    min-width: 140px;
}
.custom-table a{
    color: #00B277 !important;
    text-decoration: none !important;
    cursor: pointer;
}
.custom-table th a{
    font-size: 16px;
}
.media-toolbar {
    position: static !important;
}
